.blogs .card{
    border: 0;
}
.blogs .card-header{
    border: 0;
    background-color: transparent;


}
.blogs .card:hover{
    cursor: pointer;
    background-image: linear-gradient(75deg, #19D3AE,#0fcfec);
    transition: .1s !important;
    color: #fff !important;
}
.blogs .card:hover .card-body{
    transition: all .3s ease-in-out !important;
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 60%;
}
.blogs .card:hover h6,
.blogs .card:hover p
{
    color: #fff !important;

}
.blogs .card:hover img{
    display: none;
}